
.navbar__bg {
    @apply fixed w-full z-20;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
}

.navbar__wrapper {
    @apply flex justify-between items-center px-8 lg:px-14 py-4;
}

.navbar__left__wrapper {
    @apply flex justify-center items-center gap-2 sm:gap-2 md:gap-3 lg:gap-14;
}

.navbar__search__input {
    @apply hidden lg:flex justify-center items-center;
}

.navbar__search__input input {
    @apply p-2 w-full border border-[#545F7D] border-opacity-[15%] rounded-l-md rounded-bl-md rounded-tr-none rounded-br-none;
}

.navbar__search__input span{
    background-color: var(--lendqsr-secondary);
    @apply p-[14px] rounded-r-md rounded-br-md;
}


.navbar__right__wrapper {
    @apply flex justify-center items-center gap-10;
}

.navbar__right__wrapper p:nth-child(1) {
    text-decoration: underline;
    cursor: pointer
}

.navbar__right__wrapper svg:nth-child(2) {
    cursor: pointer;
}

.navbar__right__wrapper__user {
    @apply flex justify-center items-center gap-2 cursor-pointer;
}

.navbar__right__wrapper p:nth-child(1), .navbar__right__wrapper svg:nth-child(2) {
    @apply hidden lg:block
}

.menuClose {
    @apply block sm:block md:block lg:hidden text-[30px];
    color: var(--lendqsr-secondary);
}


.menuOpen {
    @apply block sm:block md:block lg:hidden text-[30px];
    color: var(--lendqsr-primary);
}